.widget {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.video {
  cursor: pointer;
  background-color: white; 
  border-radius: 5px;
  margin: 5px;
}

.name {
  font-weight: bold;
}

.author {
  color: grey;
}

.textDiv {
  margin-left: 10px;
}