@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    justify-content: center;
}

.widget {
    width: 400px;
    border-style: solid;
    border-color: #383029;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}

.title {
    font-size: x-large;
    font-weight: bold;
}
.subtitle {
    margin-top: 10px;
}
.parameter {
    margin-top: 30px;
}

.textInput {
    margin-top: 10px;
    width: calc(100% - 16px);
    font-family: "Urbanist";
    padding: 8px;
}

.submit {
    color: #181411;
    background-color: #e68019;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "Urbanist";
    font-size: medium;

}
.submit:hover {
    color: #000000;
    background-color: #c76d14;
}

.or {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}