.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bold;
}

.text {
    margin-top: 10px;
}
