@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.app {
  background-color: #181411;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: "Urbanist";
  color: white;
  overflow-x: hidden;
}

.leftChunk {
  margin-top: 10px;
  margin-left: 35px;

  flex: 3;
}

.rightChunk {
  margin-top: 10px;
  flex: 1;
  margin-right: 35px;
  margin-left: 35px;
}

.content {
  display: flex;
  justify-content: space-between;
}
