.container {
    margin-top: 15px;
    overflow-x: visible;
    
}
.title {
    margin-left: 35px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.sliderContainer {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}
.slider {
    display: flex;
    
    overflow-x: visible;
    width: 100%;
    position: relative;
    align-items: center;
}
.showTransition{
    transition: left 1s, right 1s;
}


.arrowContainer {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: black;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;

    position: absolute;
    z-index: 2;
}
.arrowContainerLeft {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.arrowContainerRight {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.arrowContainer:hover {
    opacity: 0.5;
}



.arrow {
    opacity: 0;
    transition: opacity 1s;
    width: 20px;
    z-index: 2;
}
.arrow:hover {
    opacity: 1;

}

.hide:hover {
    opacity: 0;
    transition: opacity 1s;
    cursor: default;
}